/*************************************** partie du heafer ici *********************************/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



/****************
#Custom CSS
******************/
.nav-item a:hover {

 background-color: #4AD38A;
    text-transform: uppercase;
  }
header .new a:hover {
    color: white !important;
}
header {
    position: absolute;
    z-index: 99999;
    width: 100%;
    
}

header .nav-item .nav-link {
    font-size: 14px;
    color: var(--light); 
    font-weight: 600;
    margin-left: 20px;
  
}

.hero {
    width: 100%;
    ;
}


.hero .carousel-item img {
    height: 700px;
    width: 100%;
    margin-top: 60px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
   
}

.hero .carousel-item::before {
    content: '';
    background-color: #040f28;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
}

.hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

}

.hero .carousel-container-content {
    text-align: center;
    
}

.hero .carousel-container-content h2 {
    font-family: 'Abril Fatface', cursive;
    font: size 50px;

}

.hero .carousel-container-content p {
    width: 70%;
    text-transform: capitalize;
    font-size: 14px;
    margin: 0 auto 30px auto;


}



@media(max-width:768px) {
    .hero .carousel-container-content h2 {

        font-size: 35px;

    }

    .hero .carousel-container-content p {

        font-size: 13px;
    }

    .button .button1 {

        font-size: 13px;

        padding: 9px 30px;

    }
    
}




.navbar .navbar-expand-lg{
    background-color: #fff;             
}


.navbar-expand-lg .navbar-toggler{
    background-color: #fff;
}
 


.logo{
    width: 80px;
    margin-bottom: 30px;
   
}





@keyframes moving {
    0%{
      left: -20px;

    }
    100%{
        left: 100%;
          
      }
}
@media(max-width:700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
       
        
    }
    .col:nth-child(2),.col:nth-child(3){
        flex-basis: 100%;
    }
}







/*************************************** partie du main ici *********************************/
body {
    margin: 0;
}

main .aPropos,.actualite,.temoignage {
    padding: 20px 20px;
}

main a {
    display: block;
    text-decoration: none;
    color: #b0b0e8;
    margin-top: 10px;
}

main .aPropos {
    background-color: #183661;
}

main h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em !important;
}

main .aPropos h2 {
    color: #4AD38A;
}

main h3 {
    font-size: 1.17em !important;
}
main .aPropos h3 {
    color: white;
}

main .aPropos .filiere,
.actualite .filiere {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .aPropos .filiere img,
.actualite .filiere img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    display: block;
}
.card {
    perspective: 1000px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(24, 54, 97, 0);
    border: none;
}

main .card-inner {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

main .front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}

main .avis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .avis img {
    display: block;
    border-radius: 50%;
    width: 90px;
}

main .avis .profil {
    display: flex;
    gap: 10px;
}

main .profil span {
    color: #919793;
}

main .avis .perso {
    width: 500px;
}

main .formulaire {
    background: url('../image/FORM.jpg') no-repeat;
    background-size: cover;
    color: white;
    padding: 0;
}

main form {
    border: 1px solid #707070;
    padding: 20px;
}

main form input,
textarea {
    display: block;
    margin-bottom: 6px;
}

main .formulaire div {
    padding: 50px 100px 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(24, 54, 97, 0.4);
}

.radio {
    display: none !important;
}
.couleur {
    background-color: #4AD38A !important;
}

main .dot-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.dot-indicators label {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 10px;
    cursor: pointer;
}

/*************************************** partie du footer ici *********************************/

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

footer .main-content{
    flex: 1 0 auto;
}

footer .footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #183661;
    font-family: 'Abel', sans-serif;
    position: relative;
    padding-top: 20px;
}

footer .col1{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 90px;
}
footer .col1-div1{
    position: relative;
    margin-left: 25px;
}
footer .col1-div2{
    margin-left: 50px;
}

footer .icones{
    position: absolute;
    left: 60px;
    bottom: -60px;
    display: flex;
    justify-content: center;
}
footer .fa-brands,.fa-regular{
    font-size: 25px;
    margin-left: 7px;
    color: #4AD38A;
}

footer .col2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}
footer .col2-div1{
    margin-right: 185px;
}
footer .col2-div2{
    margin-right: 95px;
}


footer .footer img{
    margin-left: 0;
    margin-top: 20px;
    width: 220px;
    height: 200px;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li{
    padding: 5px;
    color: #4AD38A;
}

footer a{
    text-decoration: none;
}
footer a:hover{
    opacity: 0.7;
}

footer .footer h3{
    padding-left: 5px;
    color: #fff;
    margin-bottom: 1px;
   
}

footer .souligner-texte1{
    border: 1px solid #fff;
    margin-left: 5px;
    margin-bottom: 7px;
    width: 147px;
}
footer .souligner-texte2{
    border: 1px solid #fff;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 75px;   
}
footer .souligner-texte3{
    border: 1px solid #fff;
    margin-left: 7px;
    margin-bottom: 10px;
    width: 63px;
}
footer .copyright{
    position: absolute;
    bottom: 20px;
    left: 305px;
    color: #fff;
}
footer .isst{
    color: #4AD38A;
}